<div class="contact">
    <center>
        <h1>{{site.data.contact.name}}</h1>
        <a class="contact" href="{{site.data.contact.website}}" target="_blank">{{site.data.contact.website}}</a> | <a class="contact" href="mailto:{{site.data.contact.email}}" target="_blank"> {{ site.data.contact.email }}</a> | <a class = "contact" href="{{ site.data.contact.linkedin }}" target="_blank">{{ site.data.contact.linkedin }}</a> | <a class = "contact" href="{{ site.data.contact.github }}" target="_blank">{{ site.data.contact.github }}</a>
    </center>
</div>