<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}



<body>
  <div class="wrapper">

    <div class="main-wrapper">

      {% include contact.html %}

      {% include education.html %}

      {% include work_experience.html %}

      {% include volunteer_experience.html %}

      {% include activities.html %}
      
      {% include projects.html %}

      {% include skills.html %}

      {% include certifications.html %}

      {% include awards.html %}

      {% include footer.html %}
    </div>
  </div>


</body>

</html>